@mixin hero-section {
  position: relative;
  padding-top: calc(60px + 1rem) !important;
  margin-top: calc(80px + 1rem) !important;
  // Overlay pseudo-element
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }

  .container-fluid {
    position: relative;
    z-index: 2;
  }

  .custom-login-btns {
    background-color: $primary !important;
    outline: none !important;
    border: none !important;
    transition: all 0.3s;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: darken($primary, 20%) !important;
    }
  }
}
