.top-menu {
  .navbar {
    font-weight: bold;
    // padding: 0px 50px !important;
    background-color: #fff !important;
    .navbar-nav {
      li > a {
        transition-property: background-color;
        transition-duration: 0.5s;

        &:hover {
          color: $primary !important;
          background-color: $custom-color;
          border-bottom: 1px solid $primary;
        }
      }

      .active a {
        color: $primary !important;
        border-bottom: 1px solid $primary;
      }
    }
    .navbar-brand {
      .custom-brand {
        width: 70px !important;
      }
    }
    .custom-login-btns {
      li {
        &:nth-child(1) a {
          background-color: $primary !important;
          outline: none !important;
          border: none !important;
          transition: all 0.3s; 
          border-radius: 10px;
          padding: 0.5rem 1rem;
          &:hover {
            background-color: darken($primary, 20%) !important;
          }
        }
    
        &:nth-child(2) a {
          background-color: $secondary !important; 
          color: #fff !important; 
          outline: none !important;
          border: none !important;
          transition: all 0.3s;
          border-radius: 10px;
          padding: 0.5rem 1rem;
          &:hover {
            background-color: darken($secondary, 20%) !important;
          }
        }
      }
    }
    
  }
}

.hero {
  .hero-custom-button {
    background-color: $primary !important;
    outline: none !important;
    border: none !important;
    transition: all 1s;

    &:hover {
      background-color: darken($primary, 20%) !important;
    }
  }
  .custom-hero-content {
    margin-top: 1.5rem;
    @keyframes myAnimation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    .masked-image {
      animation: myAnimation 6s infinite;
    }

    .clip-svg {
      clip-path: url(#svg-shaped_masked_image);
      -webkit-clip-path: url(#svg-shaped_masked_image);
      background-position-x: 50%;
      background-position-y: 50%;
    }
  }
}

.services {
  .icon-square {
    color: $primary !important;
  }
  .custom-color{
    color: $primary !important;
  }
}
.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 0.75rem;
}

.tour {
  .custom-card-holder {
    a {
      background-color: $primary !important;
      outline: none !important;
      border: none !important;
      transition: all 1s;

      &:hover {
        background-color: darken($primary, 20%) !important;
      }
    }
  }
}

.custom-footer {
  .custom-footer-icons {
    a {
      color: $primary;
      margin-left: 5px;
      transition: all 1s;

      &:hover {
        color: darken($primary, 20%) !important;
      }
    }
  }

  input[type="email"] {
    text-align: right;
  }
  .custom-copy-right {
    color: $primary;
  }
}

@media (min-width: 375px) {
}
