.form-content {
  max-width: 450px;
}

.form-register-format {
  max-width: 450px;
  padding: 15px;
  margin: auto;
  form {
    input:focus {
      box-shadow: inset 0 1px 1px $main-color, 0 0 8px $main-color !important;
    }
    input::placeholder {
      font-weight: bold;
      opacity: 0.4;
      color: $main-color;
      direction: rtl !important;
    }
  }
  .login-custom-button {
    background-color: $main-color !important;
    outline: none !important;
    border: none !important;
    transition: all 1s;

    &:hover {
      background-color: darken($main-color, 20%) !important;
    }
  }

  .custom-register-button {
    max-width: 450px;
    align-items: center !important;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: $main-color;
    border: 1px solid darken($main-color, 30%);
  }

  input[type="date"] {
    color: $main-color;
  }
  input[type="checkbox"] {
    accent-color: $main-color;
  }
}

label.error {
  color: red;
  float: left;
  margin-bottom: .5rem;
  display: flow-root;
}

@media (min-width: 345px) and (max-width: 380px) {
  .custom-register-button {
    width: 100%;
    align-items: center !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
}
