$color-blue: #1768ac;
$color-blue-dark: #2541b2;

$color-dark: #212b36;

$color-red: #ed6347;
$color-red-dark: #bf0711;

$color-brand: $color-blue-dark;
$color-primary: $color-blue;
$color-content: $color-dark;

$color-white: #f7f7f7;
$color-grey: #637381;
$color-background: #f5f5f5;
$color-link: #007ace;

$color-text-subdued: #919eab;
$color-title-subdued: #637381;
$custom-color: #eee;
$card-text-color: #a9a9a9;

$main-color: #ff7766;
$custom-color: #eee;
$card-text-color: #a9a9a9;

:root {
  --color-chartbrand: #2541b2;
}
