$primary: #f49d31;
$secondary: #707070;
$color-dark: #212b36;
$color-content: $color-dark;
$main-color: #f49d31;
$custom-color: #eee;
$card-text-color: #a9a9a9;
$color-background: #eee;
$color-red: #c73333;
$timeline-icon-border-color: #d5d5d5;
$timeline-icon-color: #f49d31;
$timeline-date-color: #a0a0a0;
$testimonial-name-color: #657789;
$form-border-radius: 0.5rem;
$input-border-radius: 0.25rem;
$input-border-color: darken(#ced4da, 5%);
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
$form-label-color: darken(#495057, 10%);
$primary-btn-bg: $primary;
$primary-btn-border: $primary;
$primary-btn-hover-bg: darken($primary, 10%);
$primary-btn-hover-border: darken($primary, 10%);
